<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm" (ngSubmit)="onAddNewIngredient()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" ngModel required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="text" id="amount" name="amount" class="form-control" ngModel required>
        </div> 
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Add</button>
          <button class="btn btn-primary" type="reset">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>